<!doctype html>
<html lang="en" th:replace="student/studentBase::layout(~{::section})">

<head>
</head>

<body>
	<section>

		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-12">
					<div class="box h-100 shadow">
						<h4 style="color: darkorange; font-size: 30px; text-align: center;"><b>Online Test</b></h4>
						<hr />
					</div>
				</div>
			</div>

			<input type="hidden" id="jsonData" th:value="${json}" />
			<div class="container px-5">
				<div class="row">
					<div class="col-sm-6 text-center">
						<p>Total Alloted Time :</p>
						<label th:text="${tt}" id="Ttime" class="form-label"></label>
					</div>
					<div class="col-sm-6 text-center">
						<p>Total Alloted Question :</p>
						<label th:text="${tq}" id="TQuestion" class="form-label"></label>
					</div>

				</div>
				<div class="row">
					<div class="col-sm-12 p-2" style="background-color: orangered;">
						<span style="color: white;">
							<label id="lblqno" style="font-size: 23px; font-weight: 600;"></label>
						</span>
						<span style="color: white;">
							<label id="lblquestion" style="font-size: 23px; font-weight: 600;"></label>
						</span>
					</div>
				</div>

				<div class="row mt-4">
					<div class="col-sm-12 p-1">
						<div class="alert alert-secondary px-5 pt-4">
							<h6>
								<input type="radio" id="a" class="form-check-input" name="option" value="A">
								&nbsp;&nbsp; <label class="form-label" for="A" style="font-size: 20px;"
									id="lblA"></label>
							</h6>
						</div>

					</div>
				</div>


				<div class="row mt-4">
					<div class="col-sm-12 p-1">
						<div class="alert alert-secondary px-5 pt-4">
							<h6>
								<input type="radio" id="b" class="form-check-input" name="option" value="B">
								&nbsp;&nbsp; <label class="form-label" for="B" style="font-size: 20px;"
									id="lblB"></label>
							</h6>
						</div>

					</div>
				</div>

				<div class="row mt-4">
					<div class="col-sm-12 p-1">
						<div class="alert alert-secondary px-5 pt-4">
							<h6>
								<input type="radio" id="c" class="form-check-input" name="option" value="C">
								&nbsp;&nbsp; <label class="form-label" for="C" style="font-size: 20px;"
									id="lblC"></label>
							</h6>
						</div>

					</div>
				</div>


				<div class="row mt-4">
					<div class="col-sm-12 p-1">
						<div class="alert alert-secondary px-5 pt-4">
							<h6>
								<input type="radio" id="d" class="form-check-input" name="option" value="D">
								&nbsp;&nbsp; <label class="form-label" for="D" style="font-size: 20px;"
									id="lblD"></label>
							</h6>
						</div>

					</div>
				</div>


				<div class="row">
					<div class="col-sm-12 mt-3">
						<span style="font-size: 18px; font-weight: 600;">
							Time Left : <label id="timer" style="font-size: 18px; font-weight: 600;"></label>
						</span>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-12 mt-3">
						<button type="button" id="ButtonNext" class="btn px-5" style="background-color: orangered;">
							Next
						</button>
					</div>
				</div>

			</div>
		</div>
		<script src="/JS/exam.js"></script>
	</section>
</body>

</html>