<html th:replace="student/studentBase::layout(~{::section})">

<head></head>

<body>
	<section>

		<div class="row p-5">
			<div class="col-sm-9 mx-auto">
				<div class="card w-100 text-center p-5 shadow-lg">
					<h1 style="color: orangered; font-family: monotype corsiva; font-style: italic; font-size: 60px;">Congratulation !!!
					</h1>
					<p style="font-size: 20px;">Your test has been submitted successfully<br> Your result will be declared soon... </p>
					<br><br><br>
					<a href="studentDashboard" class="btn text-white w-25 text-cente mx-auto rounded-pill" style="background-color: orangered;"> Go to
						Homepage</a>
				</div>
			</div>
		</div>

	</section>
</body>

</html>