<html lang="en" th:replace="student/studentBase::layout(~{::section})">

<head></head>

<body>
	<section>

		<div class="row">
			<div class="col-sm-12 p-3">
				<marquee behavior="alternate">
					Subscribe Our Channel For More Videos <a href="http://www.youtube.com/softproindia"
						style="text-decoration: none;">http://www.youtube.com/softproindia</a>
				</marquee>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 p-3">
				<h1 style="color: #EF662F">Training Videos</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<div class="card shadow p-2 my-2" style="height: 300px">
					<iframe width="100%" height="100%"
						src="https://www.youtube.com/embed/6n-MkU_QuCg?si=SVhj-BjEMu5Fe_cn" title="YouTube video player"
						frameborder="0"
						allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
						referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="card shadow p-2 my-2" style="height: 300px">
					<iframe width="100%" height="100%"
						src="https://www.youtube.com/embed/_gJ8PE-YK-8?si=6eesvpPRgaWmUzYu" title="YouTube video player"
						frameborder="0"
						allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
						referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<div class="card shadow p-2 my-2" style="height: 300px">
					<iframe width="100%" height="100%"
						src="https://www.youtube.com/embed/PPDgi17D5NI?si=3Bf88fMwZ_bpH-G5" title="YouTube video player"
						frameborder="0"
						allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
						referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="card shadow p-2 my-2" style="height: 300px">
					<iframe width="100%" height="100%"
						src="https://www.youtube.com/embed/6xjHkYOyuuM?si=ebkFuHTs5iC_2gQf" title="YouTube video player"
						frameborder="0"
						allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
						referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</section>
</body>

</html>