  
<!DOCTYPE html>
<html lang="en" th:replace="base::layout(~{::section})">
<head>
</head>
<body>
    <section>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12 py-5 bg text-center">
                        <h3 class="fw-bold">Our Experts</h3>
                    </div>
                </div>
            </div>


        <div class="container-fluid py-5">
            <div class="container px-5 py-5">
                <div class="row py-2">
                    <div class="col-sm-3">
                        <div class="team-item border-top rounded shadow overflow-hidden" style="border-top: 6px solid #ef672e !important;">
                            <div class="text-center p-4">
                                <img class="img-fluid mb-4" src="Images/38.jpg" alt="">
                                <h5 class="fw-bold mb-1">Er. Brijesh Mishra</h5>
                                <hr>
                                <small>ML &amp; Data Science Expert</small>
                            </div>
                            <div class="d-flex justify-content-center p-3" style="background-color: #ef672e;">
                                <a class="btn btn-square  bg-white m-1" href=""><i class="fab fa-facebook-f" style="color: #ef672e;"></i></a>
                                <a class="btn btn-square  bg-white m-1" href=""><i class="fab fa-twitter" style="color: #ef672e;"></i></a>
                                <a class="btn btn-square  bg-white m-1" href=""><i class="fab fa-instagram" style="color: #ef672e;"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="team-item border-top rounded shadow overflow-hidden" style="border-top: 6px solid #ef672e !important;">
                            <div class="text-center p-4">
                                <img class="img-fluid mb-4" src="Images/36.jpg" alt="">
                                <h5 class="fw-bold mb-1">Er. Rohit Kumar</h5>
                                <hr>
                                <small>Python &amp; Web Tech Expert</small>
                            </div>
                            <div class="d-flex justify-content-center p-3" style="background-color: #ef672e;">
                                <a class="btn btn-square  bg-white m-1" href=""><i class="fab fa-facebook-f" style="color: #ef672e;"></i></a>
                                <a class="btn btn-square  bg-white m-1" href=""><i class="fab fa-twitter" style="color: #ef672e;"></i></a>
                                <a class="btn btn-square  bg-white m-1" href=""><i class="fab fa-instagram" style="color: #ef672e;"></i></a>
                            </div>
                        </div>
                    </div>
        
                    <div class="col-sm-3">
                        <div class="team-item border-top rounded shadow overflow-hidden" style="border-top: 6px solid #ef672e !important;">
                            <div class="text-center py-4">
                                <img class="img-fluid mb-4 px-4" src="Images/44.jpg" alt="">
                                <h5 class="fw-bold mb-1">Subrat Tripathi</h5>
                                <hr>
                                <small>ML &amp; Data Science Consultant</small>
                            </div>
                            <div class="d-flex justify-content-center p-3" style="background-color: #ef672e !important;">
                                <a class="btn btn-square  bg-white m-1" href=""><i class="fab fa-facebook-f" style="color: #ef672e ;"></i></a>
                                <a class="btn btn-square  bg-white m-1" href=""><i class="fab fa-twitter" style="color: #ef672e ;"></i></a>
                                <a class="btn btn-square  bg-white m-1" href=""><i class="fab fa-instagram" style="color: #ef672e ;"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="team-item border-top rounded shadow overflow-hidden" style="border-top: 6px solid #ef672e !important;">
                            <div class="text-center py-4">
                                <img class="img-fluid mb-4 px-4" src="Images/39.jpg" alt="">
                                <h5 class="fw-bold mb-1">Er. P. Rajnikant</h5>
                                <hr>
                                <small>Python &amp; AI Expert</small>
                            </div>
                            <div class="d-flex justify-content-center p-3" style="background-color: #ef672e !important;">
                                <a class="btn btn-square  bg-white m-1" href=""><i class="fab fa-facebook-f" style="color: #ef672e ;"></i></a>
                                <a class="btn btn-square  bg-white m-1" href=""><i class="fab fa-twitter" style="color: #ef672e ;"></i></a>
                                <a class="btn btn-square  bg-white m-1" href=""><i class="fab fa-instagram" style="color: #ef672e ;"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
        
                <!-- ==================================================== -->
        
                <div class="row g-4 py-2">
                    <div class="col-sm-3">
                        <div class="team-item border-top rounded shadow overflow-hidden" style="border-top: 6px solid #ef672e !important;">
                            <div class="text-center p-4">
                                <img class="img-fluid mb-4" src="Images/40.jpg" alt="">
                                <h5 class="fw-bold mb-1">Er. Manas Agarwal</h5>
                                <hr>
                                <small>MicrosoftAzure &amp; Cloud Expert</small>
                            </div>
                            <div class="d-flex justify-content-center p-3" style="background-color: #ef672e;">
                                <a class="btn btn-square  bg-white m-1" href=""><i class="fab fa-facebook-f" style="color: #ef672e;"></i></a>
                                <a class="btn btn-square  bg-white m-1" href=""><i class="fab fa-twitter" style="color: #ef672e;"></i></a>
                                <a class="btn btn-square  bg-white m-1" href=""><i class="fab fa-instagram" style="color: #ef672e;"></i></a>
                            </div>
                        </div>
                    </div>
        
                    <div class="col-sm-3">
                        <div class="team-item border-top rounded shadow overflow-hidden" style="border-top: 6px solid #ef672e !important;">
                            <div class="text-center p-4">
                                <img class="img-fluid mb-4" src="Images/35.jpg" alt="">
                                <h5 class="fw-bold mb-1">Er. Tushit Gupta</h5>
                                <hr>
                                <small>Embedded C &amp; IoT Expert</small>
                            </div>
                            <div class="d-flex justify-content-center p-3" style="background-color: #ef672e;">
                                <a class="btn btn-square  bg-white m-1" href=""><i class="fab fa-facebook-f" style="color: #ef672e;"></i></a>
                                <a class="btn btn-square  bg-white m-1" href=""><i class="fab fa-twitter" style="color: #ef672e;"></i></a>
                                <a class="btn btn-square  bg-white m-1" href=""><i class="fab fa-instagram" style="color: #ef672e;"></i></a>
                            </div>
                        </div>
                    </div>
        
                    <div class="col-sm-3">
                        <div class="team-item border-top rounded shadow overflow-hidden" style="border-top: 6px solid #ef672e !important;">
                            <div class="text-center py-4">
                                <img class="img-fluid mb-4 px-4" src="Images/37.jpg" alt="">
                                <h5 class="fw-bold mb-1">Er. Vipul Gupta</h5>
                                <hr>
                                <small>Java Expert </small>
                            </div>
                            <div class="d-flex justify-content-center p-3" style="background-color: #ef672e !important;">
                                <a class="btn btn-square  bg-white m-1" href=""><i class="fab fa-facebook-f" style="color: #ef672e ;"></i></a>
                                <a class="btn btn-square  bg-white m-1" href=""><i class="fab fa-twitter" style="color: #ef672e ;"></i></a>
                                <a class="btn btn-square  bg-white m-1" href=""><i class="fab fa-instagram" style="color: #ef672e ;"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="team-item border-top rounded shadow overflow-hidden" style="border-top: 6px solid #ef672e !important;">
                            <div class="text-center py-4">
                                <img class="img-fluid mb-4 px-4" src="Images/41.jpg" alt="">
                                <h5 class="fw-bold mb-1">Er. Rahul Raj</h5>
                                <hr>
                                <small>IOT Expert</small>
                            </div>
                            <div class="d-flex justify-content-center p-3" style="background-color: #ef672e !important;">
                                <a class="btn btn-square  bg-white m-1" href=""><i class="fab fa-facebook-f" style="color: #ef672e ;"></i></a>
                                <a class="btn btn-square  bg-white m-1" href=""><i class="fab fa-twitter" style="color: #ef672e ;"></i></a>
                                <a class="btn btn-square  bg-white m-1" href=""><i class="fab fa-instagram" style="color: #ef672e ;"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
        
                <div class="row g-4 py-2">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-3">
                        <div class="team-item border-top rounded shadow overflow-hidden" style="border-top: 6px solid #ef672e !important;">
                            <div class="text-center p-4">
                                <img class="img-fluid mb-4" src="Images/42.jpg" alt="">
                                <h5 class="fw-bold mb-1">Er Pradyuman Tiwari</h5>
                                <hr>
                                <small>Cloud &amp; IOT Expert</small>
                            </div>
                            <div class="d-flex justify-content-center p-3" style="background-color: #ef672e;">
                                <a class="btn btn-square  bg-white m-1" href=""><i class="fab fa-facebook-f" style="color: #ef672e;"></i></a>
                                <a class="btn btn-square  bg-white m-1" href=""><i class="fab fa-twitter" style="color: #ef672e;"></i></a>
                                <a class="btn btn-square  bg-white m-1" href=""><i class="fab fa-instagram" style="color: #ef672e;"></i></a>
                            </div>
                        </div>
                    </div>
        
                    <div class="col-sm-3">
                        <div class="team-item border-top rounded shadow overflow-hidden" style=" border-top: 6px solid #ef672e !important;">
                            <div class="text-center p-4">
                                <img class="img-fluid mb-4" src="Images/43.jpg" alt="">
                                <h5 class="fw-bold mb-1">Er. Kushal Anand</h5>
                                <hr>
                                <small>PLC SCADA Expert</small>
                            </div>
                            <div class="d-flex justify-content-center p-3" style="background-color: #ef672e;">
                                <a class="btn btn-square  bg-white m-1" href=""><i class="fab fa-facebook-f" style="color: #ef672e;"></i></a>
                                <a class="btn btn-square  bg-white m-1" href=""><i class="fab fa-twitter" style="color: #ef672e;"></i></a>
                                <a class="btn btn-square  bg-white m-1" href=""><i class="fab fa-instagram" style="color: #ef672e;"></i></a>
                            </div>
                        </div>
                    </div>
        
                    <div class="col-sm-3">
                        <div class="team-item border-top rounded shadow overflow-hidden" style="border-top: 6px solid #ef672e !important;">
                            <div class="text-center py-4">
                                <img class="img-fluid mb-4 px-4" src="Images/45.jpg" alt="">
                                <h5 class="fw-bold mb-1">Er. Amit Bhandari</h5>
                                <hr>
                                <small>Embedded System  &amp; Robotics and IoT</small>
                            </div>
                            <div class="d-flex justify-content-center p-3" style="background-color: #ef672e !important;">
                                <a class="btn btn-square  bg-white m-1" href=""><i class="fab fa-facebook-f" style="color: #ef672e ;"></i></a>
                                <a class="btn btn-square  bg-white m-1" href=""><i class="fab fa-twitter" style="color: #ef672e ;"></i></a>
                                <a class="btn btn-square  bg-white m-1" href=""><i class="fab fa-instagram" style="color: #ef672e ;"></i></a>
                            </div>
                            <div class="col-sm-1"></div>
                        </div>
                    </div>
        
                </div>
        
            </div>
        </div>
    </section>
</body>
</html>