<!doctype html>
<html lang="en" th:replace="base::layout(~{::section})">

<head>
</head>

<body>

	<section>
		<!-- Main Container Start -->
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-12" style="background-image: url(Images/bg.jpg); background-size: cover;">
					<div class="row">
						<div class="col-sm-12 py-5 text-center">
							<img src="Images/aktu-logo.png" alt="" height="200">
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12 text-center fw-bold mb-4">
							<h3 class="fw-bold">FREE SUMMER <span class="span-color">INTERNSHIP 2024</span></h3>
							<h4 class="span-color fw-bold">ORGANIZED BY DR. A. P. J. ABDUL KALAM TECHNICAL UNIVERSITY,
								LUCKNOW</h4>
							<h5 class="fw-bold">(IN ASSOCIATION WITH SOFTPRO INDIA COMPUTER TECHNOLOGIES (P) LTD)</h5>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-12 p-0">
					<img src="Images/bg-2.jpg" class="img-fluid" alt="">
				</div>
			</div>

			<div class="row">
				<div class="col-sm-7 mt-2 text-end px-2 py-3 pt-4 heading">
					<h4 class="fw-bold">Apply For Free Summer Internship Test - 2024</h4>
				</div>
				<div class="col-sm-5 mt-2 py-3 px-4 pt-3 heading">
					<button class="button button-2"><a href="/apply">Apply Now&nbsp;&nbsp;<i
								class="fa-solid fa-arrow-right"></i></a></button>
				</div>

				<div class="row">
					<div class="col-sm-12">
						<h3 class="span-color text-center py-3 pt-4">Free Summer Internship</h3>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-12 px-5">

						<h4 class="span-color">Program Details</h4>

						<p>As we strive to enhance the professional development opportunities for the students of AKTU,
							Softpro India is
							offering Free Summer Internship Program in collaboration with Dr A P J Abdul Kalam Technical
							University under
							the MoU services signed with Softpro India & AKTU, specifically tailored for the Ist, IInd &
							IIIrd year
							students pursuing B.Tech in Computer Science, Information Technology and CS Allied Branches,
							Mechanical,
							Civil, Electrical, Electronics. This program aims to provide students with valuable industry
							exposure,
							hands-on experience in the latest technologies, and an avenue for practical application of
							theoretical
							knowledge.</p>

						<h4 class="span-color">Importance of Summer Internship</h4>

						<p><span class="fw-bold">1. Bridging the Gap between Academia and Industry : </span>Summer
							Internships provide
							students with an invaluable opportunity to bridge the gap between theoretical knowledge
							acquired in classrooms
							and practical application in real-world scenarios. By working on live projects and
							interacting with industry
							professionals, students gain insights into industry practices, trends, and challenges, thus
							preparing them for
							the transition from academia to the professional realm.</p>

						<p><span class="fw-bold">2. Skill Enhancement and Professional Development: </span>Engaging in
							summer internship
							programs allows students to enhance their technical skills, communication abilities,
							teamwork, and problem
							solving capabilities. Exposure to cutting-edge technologies and hands-on experience in
							project execution
							equips students with the competencies required to thrive in today's dynamic and competitive
							job market.</p>

						<p><span class="fw-bold">3. Networking and Career Opportunities : </span>Summer Summer
							internships offer
							students a platform to network with professionals, build meaningful connections, and explore
							potential career
							opportunities. Building a strong professional network early in their academic journey can
							significantly
							enhance students' prospects for securing employment post-graduation.</p>

					</div>
				</div>

				<div class="row text-center" style="color: darkorange; font-size: 30PX;"><strong>WHO CAN PARTICIPATE
						?</strong>
				</div>

				<div class="row mt-3 mb-5">
					<div class="col-sm-12 mx-auto">
						<div class="row mt-3">
							<div class="col-sm-3">
								<div class="card" style="width: 18rem;">
									<div class="card-body">
										<img src="Images/cs.png" height="250" alt="">
										<p class="text-center"
											style="font-size: 25px; color: darkorange; font-family: serif;">
											Electrical Instumental</p>
										<hr>
										<p class="text-center"><b>B.Tech 1,2,3 Year</b></p>
										<p style="font-size: 20px;">DS - DS student can register here</p>
									</div>
								</div>
							</div>
							<div class="col-sm-3">
								<div class="card" style="width: 18rem;">
									<div class="card-body">
										<img src="Images/unnamed.png" height="250" alt="">
										<p class="text-center"
											style="font-size: 25px; color: darkorange; font-family: serif;">
											computer science & IT</p>
										<hr>
										<p class="text-center"><b>B.Tech 1,2,3 Year</b></p>
										<p style="font-size: 20px;">Computer science/IT studens can register here.</p>
									</div>
								</div>
							</div>
							<div class="col-sm-3">
								<div class="card" style="width: 18rem;">
									<div class="card-body">
										<img src="Images/c3.webp" height="250" alt="">
										<p class="text-center"
											style="font-size: 25px; color: darkorange; font-family: serif;">
											Civil Engineering</p>
										<hr>
										<p class="text-center"><b>B.Tech 1,2,3 Year</b></p>
										<p style="font-size: 20px;">Civil Engineering studens can register here.</p>
									</div>
								</div>
							</div>
							<div class="col-sm-3">
								<div class="card" style="width: 18rem;">
									<div class="card-body">
										<img src="Images/c4.png" height="250" alt="">
										<p class="text-center"
											style="font-size: 25px; color: darkorange; font-family: serif;">
											Mechanical Engineering</p>
										<hr>
										<p class="text-center"><b>B.Tech 1,2,3 Year</b></p>
										<p style="font-size: 20px;">Mechanical Engineering studens can register here.
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="row mb-5">
					<div class="col-sm-10 mx-auto " style="background-image: url('Images/bck.jpg');">
						<div class="row">
							<div class="col-sm-6 py-4 mx-5">
								<p style="color: darkorange; font-size: 30px;"><b>Internship Test Highlights</b></p>
								<hr>
								<p><span><img src="images/time.png" height="50" alt=""></span>&emsp;<span class=""
										style="font-size: 20px;"><b>Duration:</b> 60 Mins</span></p>
								<p><span><img src="images/skills.png" height="50" alt=""></span>&emsp;<span class=""
										style="font-size: 20px;"><b>Eligibility:</b> B-Tech Studens</span></p>

								<p><span><img src="images/language.png" height="50" alt=""></span>&emsp;<span class=""
										style="font-size: 20px;"><b>Medium:</b> English</span></p>

								<p><span><img src="images/mode.png" height="50" alt=""></span>&emsp;<span class=""
										style="font-size: 20px;"><b>Mode:</b> Online</span></p>

								<p><span><img src="images/platfom.png" height="50" alt=""></span>&emsp;<span class=""
										style="font-size: 20px;"><b>Question Type:</b> MCQ</span></p>
							</div>
							<div class="col-sm-4">
								<img src="images/quiz.jpg" height="500px" alt="">
							</div>
						</div>
					</div>
				</div>

				<div class="row mb-3">
					<div class="col-sm-10 mx-auto">
						<div class="row">
							<div class="col-sm-5">
								<img src="images/work.png" height="400" alt="">
							</div>
							<div class="col-sm-7">
								<p class="mt-5" style="font-size: 40px; color: darkorange;"><b>Our Internship
										Features</b></p>
								<hr>
								<p>1. Technology Lectures by Softpro Experts having minimum 10 Year of Experience. <br>
									2. Bonus Lectures by Experts from Industry like Google, IBM, Indiabulls, HCL, TCS,
									LMRC,
									Ansal, &emsp; DLF, Pepsi Co, Oracle, Paypal, Mitsubishi, Amazon, Apple and more.
									<br>
									3. 30 Days Live Instructor Led Classroom / online Sessions daily, with 15 Days Extra
									grace
									time &emsp; to access the account for recovery & practice. <br>
									4. E-Notes in form of E-Books, Presentations, Videos designed by Industry Experts
									with Self-
									Assessment Tools and daily evaluation. Class Recordings of each Live Class. <br>
									5. Daily Tasks & Assignments for more practice. <br>
									6. Industry Endorsed Project to be developed by all Interns. <br>
									7. Assistance in Placement & Certificate of Internship by “Softpro India Computer
									Technologies (P) Limited”
								</p>

							</div>
						</div>
					</div>
				</div>


				<div class="row mb-3">
					<div class="col-sm-12 px-5">
						<p style="color: darkorange; font-size: 20px;"><b>Internship Session</b></p>
						<hr>
						<p style="text-align: justify;"><b>a.) Online / Offline Session:</b> <br>
							The internship will commence with intensive training sessions covering a wide array of
							topics
							including but not limited to: i. Programming languages such as Java, Python, PHP, C# etc.
							ii. Web
							development frameworks like Django, Spring, Laravel, AngularJS, React, etc. iii. Database
							management
							systems and data analytics tools. iv. Emerging technologies such as Artificial Intelligence,
							Machine
							Learning, Internet of Things, etc. v. Technologies like IoT, PLC SCADA, Embedded System,
							AutoCAD,
							Solidwork & STAAD.PRO
						</p>
						<p style="text-align: justify;"><b> b.) Project Work:</b> <br>
							Following the training period, interns will be assigned to real-world projects under the
							guidance
							and mentorship of experienced professionals from Softpro India. This hands-on experience
							will enable
							students to apply theoretical concepts in practical scenarios, thereby honing their problem
							solving
							skills and enhancing their technical proficiency.
						</p>

						<p style="text-align: justify;"><b>c.) Evaluation and Certification:</b> <br>
							At the conclusion of the internship, students will undergo an assessment to evaluate their
							performance and proficiency gained during the program. Upon successful completion,
							participants will
							receive certificates acknowledging their accomplishments during the internship.
						</p>

						<p style="text-align: justify;"><b>c.) Evaluation and Certification:</b> <br>
							Students who will do Internship from Softpro will also be offered Placement Opportunity in
							their
							final year. The Free Summer Internship Program by Softpro India presents a unique
							opportunity for
							your students to augment their academic learning with practical industry experience, thereby
							enhancing their employability and fostering their professional growth. We believe that this
							collaboration will be mutually beneficial for your esteemed institutions and Softpro India,
							and will
							pave the way for future partnerships aimed at nurturing talent and driving innovation in the
							field
							of technology. We earnestly request your support and cooperation in facilitating the
							implementation
							of this Free Internship program.
						</p>
					</div>
				</div>

				<div class="row mt-2 mb-3">
					<div class="col-sm-12 px-5">
						<p class="text-center" style="color: darkorange; font-size: 40px;"><b> Technologies offered </b>
						</p>
						<hr>
						<p>&emsp; The internship will begin with thorough training sessions covering essential topics
							relevant
							to the role. Participants will gain a comprehensive understanding of technical skills,
							industry
							&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; practices, and soft skills. Interactive workshops
							and
							practical exercises will prepare them to excel in their roles and contribute effectively to
							the
							organization.</p>
						<div class="row">
							<div class="col-sm-4">
								<div class="card">
									<div class="card-body">
										<img src="images/datascience.png" class="w-100" alt="">
									</div>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="card">
									<div class="card-body">
										<img src="images/ml.png" class="w-100" alt="">
									</div>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="card">
									<div class="card-body">
										<img src="images/django.png" class="w-100" alt="">
									</div>
								</div>
							</div>
						</div>
						<div class="row mt-4">
							<div class="col-sm-4">
								<div class="card">
									<div class="card-body">
										<img src="images/java.png" class="w-100" alt="">
									</div>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="card">
									<div class="card-body">
										<img src="images/net.png" class="w-100" alt="">
									</div>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="card">
									<div class="card-body">
										<img src="images/php.png" class="w-100" alt="">
									</div>
								</div>
							</div>
						</div>

						<div class="row mt-4">
							<div class="col-sm-4">
								<div class="card">
									<div class="card-body">
										<img src="images/iot.png" class="w-100" alt="">
									</div>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="card">
									<div class="card-body">
										<img src="images/embeded.png" class="w-100" alt="">
									</div>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="card">
									<div class="card-body">
										<img src="images/pcb.png" class="w-100" alt="">
									</div>
								</div>
							</div>
						</div>

						<div class="row mt-4">
							<div class="col-sm-4">
								<div class="card">
									<div class="card-body">
										<img src="images/pcl.png" class="w-100" alt="">
									</div>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="card">
									<div class="card-body">
										<img src="images/auto1.png" class="w-100" alt="">
									</div>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="card">
									<div class="card-body">
										<img src="images/auto2.png" class="w-100" alt="">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-12  px-5">
						<p class="text-center" style="font-size: 40px; color: darkorange;"><b>Training Locations</b></p>
						<hr>
						<div class="row">
							<div class="col-sm-7 text-center" style="font-size: 30px; background-color: darkorange;">
								<b>Lucknow
									Locations</b>
							</div>
							<div class="col-sm-1"></div>
							<div class="col-sm-4 text-center" style="font-size: 30px; background-color: darkorange;">
								<b>Noida
									Location</b>
							</div>
							<div class="row mt-3 mb-3 mx-2">
								<div class="col-sm-4">
									<div class="card">
										<div class="card-body">
											<img src="images/house1.jpg" class="w-100" height="250" alt="">
											<p class="text-center" style="color: darkorange; font-size: 20px;">
												<b>Softpro
													House</b>
											</p>
											<hr>
											<p class="text-center">3/213, Sector J, Jankipuram, Kursi Rd
												Near Gudamba Thana, Lucknow</p>
										</div>
									</div>
								</div>
								<div class="col-sm-4">
									<div class="card">
										<div class="card-body">
											<img src="images/acdemy.jpg" class="w-100" height="250" alt="">
											<p class="text-center" style="color: darkorange; font-size: 20px;">
												<b>Softpro India
													Full Stack Academy</b>
											</p>
											<hr>
											<p class="text-center">Pushpi Tower ,Chinhat Tiraha, Vijayant Khand
												Gomti Nagar, Lucknow</p>
										</div>
									</div>
								</div>
								<div class="col-sm-4">
									<div class="card">
										<div class="card-body">
											<img src="images/its.jpg" class="w-100" height="250" alt="">
											<p class="text-center" style="color: darkorange; font-size: 20px;">
												<b>Softpro Skill
													Development Center</b>
											</p>
											<hr>
											<p class="text-center">I.T.S Campus, Knowledge Park III, Pari Chowk, Greater
												NOIDA
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="row text-center mb-4">
					<div class="col-sm-12" style="color: red; font-size: 40px;"><b>Online Training Mode</b><br>
						<p style="font-size: 30px; color: black;"><b>POLYPREP, A Learning Management System By Softpro
								India</b>
						</p>
					</div>
					<div class="row">
						<div class="col-sm-11 px-5 mx-auto" style="box-shadow: 5px 5px 5px 5px;">
							<div class="row">
								<div class="col-sm-5 py-4">
									<div class="card">
										<div class="card-body">
											<img src="images/upcoming.png" class="w-100" height="300" alt="">
										</div>
									</div>
								</div>
								<div class="col-sm-7 mt-5 py-3">
									<div class="row mt-5" style="font-size: 22px; background-color: darkorange;">
										<b>Online
											Training Division of Softpro LMS Polyprep</b>
										<p>Enroll, Learn, Grow !!! Get ready to achieve your learning goals with Softpro
											by
											doing Online Summer Internship at Polyprep, An LMS by Softpro.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>

	</section>
	<!-- Main Container End -->

</body>

</html>